{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="mb-3">
        {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.filiere, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.filiere, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.themeMemoire, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.themeMemoire, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}